{% extends '_layouts/cp' %}

{% set title = "Spoon"|t('spoon') %}

{% set content %}
    <p>{{ "Here you can set up default block type groups and field layouts for all your Matrix fields."|t('spoon') }}</p>
    {% if matrixFields|length %}
        <table id="spoon-global-context-table" class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ 'Matrix Field'|t('spoon') }}</th>
                    {% if superTableFields is defined %}
                        <th></th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for field in matrixFields %}
                <tr>
                    <td{% if superTableFields is defined and 'superTableBlockType' not in field.context %} colspan="2"{% endif %}>

                {% if superTableFields is defined and 'superTableBlockType' in field.context %}
                    {% set fieldData = superTableFields[field.context] %}
                        <ul class="structure">
                            <li>
                                {{ fieldData.field.name|t }}
                            </li>
                            {% if fieldData.child %}
                                <li>
                                    <ul>
                                        <li>
                                            {{ fieldData.child.field.name|t }}
                                            <ul>
                                                <li>
                                                    <a title="{{ 'Edit'|t('app') }}" role="button" class="edit" data-spoon-field-id="{{ field.id }}">{{ field.name|t }}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <ul>
                                        <li>
                                            <a title="{{ 'Edit'|t('app') }}" role="button" class="edit" data-spoon-field-id="{{ field.id }}">{{ field.name|t }}</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </td>

                    <td>
                        <ul class="structure">

                            {% if fieldData.child %}
                                <li>
                                    {{ fieldData.kind|t('spoon') }}
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            {{ fieldData.child.kind|t('spoon') }}
                                            <ul>
                                                <li>
                                                    {{ 'Matrix'|t('app') }}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    {{ fieldData.kind|t }}
                                    <ul>
                                        <li>
                                            {{ 'Matrix'|t('app') }}
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>

                    </td>
                {% else %}
                        <a title="{{ 'Edit'|t }}" role="button" class="edit" data-spoon-field-id="{{ field.id }}">{{ field.name|t }}</a>
                    </td>
                {% endif %}
                    <td class="thin">
                        <a class="delete icon{% if field.id not in globalSpoonedBlockTypes|keys %} hidden{% endif %}" title="{{ 'Delete'|t }}" role="button" data-spoon-field-id="{{ field.id }}"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="error">{{ "No Matrix fields have been added yet."|t('spoon') }}</p>
    {% endif %}
{% endset %}
