{% do view.registerTranslations('app', [
    "Rename",
    "Delete",
    "Make required",
    "Make not required",
    "Remove",
    "Give your tab a name.",
]) %}

{% macro tab(tabName, tabFields) %}
    <div class="fld-tab">
        <div class="tabs">
            <div class="tab sel draggable">
                <span>{{ tabName }}</span>
                <a class="settings icon" title="{{ 'Edit'|t('app') }}"></a>
            </div>
        </div>
        <div class="fld-tabcontent">
            {% for field in tabFields %}
                <div class="fld-field" data-id="{{ field.id }}">
                    <a class="settings icon" title="{{ 'Edit'|t('app') }}"></a>
                    <span>{{ field.name }}</span>
                    <input class="id-input" type="hidden" name="blockTypeFieldLayouts[{{ tabName|e('url') }}][]" value="{{ field.id }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<div id="spoon-fields-configurator" class="fieldlayoutform">

    <input type="hidden" name="spoonedBlockTypeId" value="{{ spoonedBlockType.id }}">

    <h2>{{ "Editing the “"~spoonedBlockType.matrixBlockType.name~"” block field layout"|t('app') }}</h2>

    <div class="fld-tabs">
        {% if fieldLayout %}
            {% import _self as macros %}

            {% for tab in fieldLayout.getTabs() %}
                {{ macros.tab(tab.name, tab.getFields()) }}
            {% endfor %}
        {% endif %}
    </div>

    <div class="newtabbtn-container">
        <div class="btn add icon">{{ "New Tab"|t('app') }}</div>
    </div>

    <div class="unusedfields">

        {% if fieldLayout %}
            {% set totalUnselected = 0 %}
            {% for field in spoonedBlockType.matrixBlockType.getFields() %}
                {% if field.id not in fieldLayout.getFieldIds() %}
                    {% set totalUnselected = totalUnselected + 1 %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="fld-tab unused{% if fieldLayout and totalUnselected == 0 %} hidden{% endif %}">
            <div class="tabs">
                <div class="tab sel"><span>{{ "Fields"|t('app') }}</span></div>
            </div>
            <div class="fld-tabcontent">
                {% for field in spoonedBlockType.matrixBlockType.getFields() %}
                    {% set selected = fieldLayout and field.id in fieldLayout.getFieldIds() %}
                    <div class="fld-field unused{% if selected %} hidden{% endif %}" data-id="{{ field.id }}">
                        <span>{{ field.name|t('site') }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>
